### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [176]:
# Dependencies and Setup
import pandas as pd

# Create reference for the csv file
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [177]:
# Displaying total number of players:
TotalPlayers = len(purchase_data["SN"].unique())
totalplayer = pd.DataFrame({"Total Players" : [TotalPlayers]})
totalplayer.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [178]:
# Calculate Purchasing Analysis(Total)
# Data Input
unique_items = purchase_data["Item ID"].nunique()
unique_items
average_price = round(purchase_data["Price"].mean(), 2)average_price
purchase_number = purchase_data["Item ID"].count()
purchase_number
total_revenue = purchase_data["Price"].sum()
total_revenue

# Creating a summary dataframe:
purchase_summary = pd.DataFrame({"Number of Unique Items" : [unique_items],
                                 "Average Price" : [average_price], 
                                 "Number of Purchases" : [purchase_number], 
                                 "Total Revenue" : [total_revenue]})

purchase_summary

SyntaxError: invalid syntax (<ipython-input-178-0000e56a82d0>, line 5)

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [158]:
# Analyzing Gender Demographics
df = purchase_data.drop_duplicates(subset='SN', keep="first")
total_count = df["Gender"].count()
total_male = df["Gender"].value_counts()['Male']
total_female = df["Gender"].value_counts()['Female']
gender_other = total_count - total_male - total_female

#Calculating the percentage count, Data input
male_count = (total_male / total_count) * 100
female_count = (total_female / total_count) * 100
gender_none = (gender_other / total_count) * 100
# Create DataFrame
gender_summary = pd.DataFrame({"": ['Male', 'Female', 'Other/Non-Disclosed'],
                              "Percentage of Players": [male_count, female_count, gender_none],
                              "Total Counts": [total_male, total_female, gender_other]})


# Formatting DataFrame
gender_summary["Percentage of Players"] = gender_summary["Percentage of Players"].map("{:.2f}%".format)

gender_summary

                       Percentage of Players  Total Counts
0                 Male                84.03%           484
1               Female                14.06%            81
2  Other/Non-Disclosed                 1.91%            11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [134]:
# CALCULATING PURCHASING ANALYSIS (GENDER)
# Group by gender & drop duplicates entry
group_gender = purchase_data.groupby(["Gender"])
print(group_gender)

# Deleting duplicates
df = purchase_data.drop_duplicates(subset='SN', keep="first")
group_df = df.groupby(["Gender"])

#data input
purchase_count = group_gender["SN"].count()
purchase_price = group_gender["Price"].mean()
purchase_total = group_gender["Price"].sum()

#Find purchase per person
purchase_df = round(group_gender["Price"].sum() / group_df["SN"].count(),2)
                              
# Create DataFrame analysis_summary 
analysis_summary = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": purchase_price,
                                 "Total Purchase Value": purchase_total,
                                 "Avg Total Purchase per Person": purchase_df})
#Format DataFrame
analysis_summary["Average Purchase Price"] = analysis_summary["Average Purchase Price"].map("${:.2f}".format)
analysis_summary["Total Purchase Value"] = analysis_summary["Total Purchase Value"].map("${:.2f}".format)
analysis_summary["Avg Total Purchase per person"] = analysis_summary["Avg Total Purchase per Person"].map("${:.2f}".format)
analysis_summary = analysis_summary[["Purchase Count", 
                                     "Average Purchase Price", 
                                     "Total Purchase Value", 
                                     "Avg Total Purchase per Person"]]
analysis_summary

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000016858788608>

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,4.47
Male,652,$3.02,$1967.64,4.07
Other / Non-Disclosed,15,$3.35,$50.19,4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [135]:
# CALCULATING AGE DEMOGRAPHICS
# Binning
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#Create names for bins
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#Adding bins to DataFrame
bin_names = purchase_data.copy()
bin_names["Age Groups"] = pd.cut(bin_names["Age"], bins, labels=group_names)
bin_group = bin_names.groupby(["Age Groups"])
bin_group

# Create Data input
count_df = bin_group["SN"].count()
count_bins = purchase_data["SN"].count()
percentage_group = (count_df / count_bins) * 100
percentage_group

# Creating the DataFrame
demographic_summary = pd.DataFrame({"Total Count": count_df,
                                    "Percentage of Players": percentage_group})  

# Formating DataFrame percentage
demographic_summary["Percentage of Players"] = demographic_summary["Percentage of Players"].map("{:.2f}%".format)
                    
demographic_summary

            Total Count Percentage of Players
Age Groups
<10                  23                 2.95%
10-14                28                 3.59%
15-19               136                17.44%
20-24               365                46.79%
25-29               101                12.95%
30-34                73                 9.36%
35-39                41                 5.26%
40+                  13                 1.67%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [139]:
# CALCULATING AGE DEMOGRAPHICS

bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

#Create names for bins
age_data = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

#Adding bins to DataFrame
age_names = purchase_data.copy()
age_names["Age Groups"] = pd.cut(age_names["Age"], bins, labels=age_data)
age_group = age_names.groupby(["Age Groups"])
age_group

# Create Data input
count_df = age_group["SN"].count()
count_bins = purchase_data["SN"].count()

avg_price = round(age_group["Price"].mean(), 2)
avg_price

age_value = age_group["Price"].sum()
age_value


purchase_df = round(age_group["Price"].sum() / age_group["SN"].count(),2)
purchase_df

# Creating the DataFrame
age_summary = pd.DataFrame({"Purchase Count": count_df,
                            "Average Purchase Price": avg_price,
                            "Total Purchase Value": age_value,
                            "Avg Purchase per Person": purchase_df})  

# Formating DataFrame percentage
age_summary["Average Purchase Value"] = age_summary["Average Purchase Price"].map("${:.2f}".format)
age_summary["Total Purchase Value"] = age_summary["Total Purchase Value"].map("${:.2f}".format)                    
age_summary["Avg Purchase per Person"] = age_summary["Avg Purchase per Person"].map("${:.2f}".format)                    

age_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase per Person,Average Purchase Value
Age Groups,,,,,
<10,23,3.35,$77.13,$3.35,$3.35
10-14,28,2.96,$82.78,$2.96,$2.96
15-19,136,3.04,$412.89,$3.04,$3.04
20-24,365,3.05,$1114.06,$3.05,$3.05
25-29,101,2.90,$293.00,$2.90,$2.90
30-34,73,2.93,$214.00,$2.93,$2.93
35-39,41,3.60,$147.67,$3.60,$3.60
40+,13,2.94,$38.24,$2.94,$2.94

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [137]:
# Data Input for Calculation of Top Spenders
group_spenders = purchase_data.groupby(["SN"])
spenders_count = group_spenders["Item ID"].count()
spenders_total = group_spenders["Price"].sum()
spenders_avg = (spenders_total / spenders_count)

# New DataFrame
spenders_summary = pd.DataFrame({"Purchase Count": spenders_count,
                                "Average Purchase Price": spenders_avg,
                                "Total Purchase Value": spenders_total})

# Formatting DataFrame Result

spenders_summary = spenders_summary.sort_values("Total Purchase Value", ascending=False)
spenders_summary["Average Purchase Price"] = spenders_summary["Average Purchase Price"].map("${:.2f}".format)
spenders_summary["Total Purchase Value"] = spenders_summary["Total Purchase Value"].map("${:.2f}".format)

spenders_summary.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [126]:
# Data Input for Calculation of Most Popular Items
group_popular = purchase_data.groupby(["Item ID", "Item Name"])
popular_count = group_popular["SN"].count()
popular_total = group_popular["Price"].sum()
popular_price = (popular_total / popular_count)
popular_value = (popular_count / popular_price)

# New DataFrame
popular_summary = pd.DataFrame({"Purchase Count": popular_count,
                                "Item Price": popular_price,
                                "Total Purchase Value": popular_value })

# Formatting DataFrame Result

popular_summary = popular_summary.sort_values("Purchase Count", ascending=False)
popular_summary["Item Price"] = popular_summary["Item Price"].map("${:.2f}".format)
popular_summary["Total Purchase Value"] = popular_summary["Total Purchase Value"].map("${:.2f}".format)
popular_summary = popular_summary[["Purchase Count", "Item Price", "Total Purchase Value"]]
popular_summary.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$2.84
145,Fiery Glass Crusader,9,$4.58,$1.97
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$2.55
82,Nirvana,9,$4.90,$1.84
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$7.84

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [75]:
# Data Input for Calculation of Most Popular Items
group_profitable = purchase_data.groupby(["Item ID", "Item Name"])
profitable_count = group_profitable["Gender"].count()
profitable_total = group_popular["Price"].sum()
profitable_price = (profitable_total / profitable_count)


# New DataFrame
profitable_summary = pd.DataFrame({"Purchase Count": profitable_count,
                                "Item Price": profitable_price,
                                "Total Purchase Value": profitable_price})

# Formatting DataFrame Result

profitable_summary = profitable_summary.sort_values("Total Purchase Value", ascending=False)
profitable_summary["Item Price"] = profitable_summary["Item Price"].map("${:.2f}".format)
profitable_summary["Total Purchase Value"] = profitable_summary["Total Purchase Value"].map("${:.2f}".format)
profitable_summary = profitable_summary[["Purchase Count", "Item Price", "Total Purchase Value"]]
profitable_summary.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$4.99
139,"Mercy, Katana of Dismay",5,$4.94,$4.94
173,Stormfury Longsword,2,$4.93,$4.93
147,"Hellreaver, Heirloom of Inception",3,$4.93,$4.93
128,"Blazeguard, Reach of Eternity",5,$4.91,$4.91