In [2]:
# Creates and exports a dataframe to csv of the clean data grouped by city with lat/lng data included
import pandas as pd
import json
import requests
from config import gkey

In [3]:
clean_data = pd.read_csv("../Resources/drug_death_data_clean.csv")
clean_data.head()

,Unnamed: 0,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,...,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphetamine,Tramadol,Morphine Not Heroin,Hydromorphone,Other,MannerofDeath
0,1,13-0102,03/21/2013 12:00:00 AM,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
1,2,16-0165,03/13/2016 12:00:00 AM,DateofDeath,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
2,3,16-0208,03/31/2016 12:00:00 AM,DateofDeath,23.0,Male,White,RYE,WESTCHESTER,NY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
3,4,13-0052,02/13/2013 12:00:00 AM,DateofDeath,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
4,5,14-0277,06/29/2014 12:00:00 AM,DateofDeath,23.0,Male,White,BRISTOL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident

In [4]:
# Group data by Death City by count
city_grouped = clean_data.groupby("DeathCity")
city_counts = city_grouped.count()

city_counts = city_counts.reset_index()
city_counts = city_counts.rename(columns={'DeathCity':'City'})
# Drop city 06340
city_counts = city_counts.loc[city_counts["City"] != "06340",:]

city_counts

,City,Unnamed: 0,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,...,Ethanol,Hydrocodone,Benzodiazepine,Methadone,Amphetamine,Tramadol,Morphine Not Heroin,Hydromorphone,Other,MannerofDeath
1,AMSTON,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,1
2,ANDOVER,3,3,3,3,3,3,3,3,2,...,1,0,0,0,0,0,0,0,0,3
3,ANSONIA,23,23,23,23,23,23,23,23,21,...,5,0,8,5,1,0,1,0,2,23
4,ASHFORD,6,6,6,6,6,6,6,6,4,...,3,0,2,0,1,0,0,0,0,6
5,AVON,5,5,5,5,5,5,5,5,4,...,0,0,2,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,WINSTED,12,12,12,12,12,12,12,12,10,...,1,0,2,5,1,0,1,0,1,12
217,WOLCOTT,2,2,2,2,2,2,2,2,2,...,1,0,0,0,0,0,0,0,0,2
218,WOODBRIDGE,4,4,4,4,4,4,4,4,4,...,0,0,2,0,0,1,0,0,0,4
219,WOODBURY,3,3,3,3,3,3,3,3,3,...,2,0,1,0,0,0,0,0,0,3
220,WOODSTOCK,4,4,4,4,4,4,4,4,4,...,2,0,2,0,1,0,0,0,0,4

In [5]:
# Create new columns for city coordinates
city_counts["Latitude"] = ""
city_counts["Longitude"] = ""

# Call google places api for each city and retrieve coordinates
base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json?"
params = {"key":gkey,
         "input":"",
         "inputtype":"textquery",
         "fields":"geometry/location"}

for index, row in city_counts.iterrows():
    # Change input for each row/city.  Add "CT" since we're working in Connecticut
    params["input"] = row["City"] + ",CT"
    # Call google places API
    response = requests.get(base_url,params)
    print(f"Processing {row['City']}...")
    # If good response, store lat and lng in df
    if response.status_code == 200:
        try:
            city_counts.loc[index,"Latitude"] = response.json()['candidates'][0]["geometry"]["location"]["lat"]
            city_counts.loc[index,"Longitude"] = response.json()['candidates'][0]["geometry"]["location"]["lng"]
        except IndexError:
          print(f"Information not found for {row['City']}! Continuing...")
    else:
        print(f"Information not found for {row['City']}! Continuing...")
              
print("Latitude/Longitude processing complete!")

Processing AMSTON...
Processing ANDOVER...
Processing ANSONIA...
Processing ASHFORD...
Processing AVON...
Processing BAKERSVILLE...
Processing BALTIC...
Processing BANTAM...
Processing BARKHAMSTED...
Processing BEACON FALLS...
Processing BERLIN...
Processing BETHANY...
Processing BETHEL...
Processing BETHLEHEM...
Processing BLOOMFIELD...
Processing BOLTON...
Processing BOZRAH...
Processing BRANFORD...
Processing BRIDGEPORT...
Processing BRIDGEWATER...
Processing BRISTOL...
Processing BROAD BROOK...
Processing BROOKFIELD...
Processing BROOKLYN...
Processing BURLINGTON...
Processing CANTERBURY...
Processing CANTON...
Processing CENTRAL VILLAGE...
Processing CHAPLIN...
Processing CHESHIRE...
Processing CHESTER...
Processing CLINTON...
Processing COLCHESTER...
Processing COLUMBIA...
Processing CORNWALL BRIDGE...
Processing COS COB...
Processing COVENTRY...
Processing CROMWELL...
Processing DANBURY...
Processing DANIELSON...
Processing DARIEN...
Processing DAYVILLE...
Processing DEEP RIVER...
Processing DERBY...
Processing DURHAM...
Processing EAST CANAAN...
Processing EAST GRANBY...
Processing EAST HADDAM...
Processing EAST HAMPTON...
Processing EAST HARTFORD...
Processing EAST HARTLAND...
Processing EAST HAVEN...
Processing EAST LYME...
Processing EAST WINDSOR...
Processing EAST WOODSTOCK...
Processing EASTFORD...
Processing EASTON...
Processing ELLINGTON...
Processing ENFIELD...
Processing ESSEX...
Processing FAIRFIELD...
Processing FARMINGTON...
Processing FRANKLIN...
Processing GALES FERRY...
Processing GLASTONBURY...
Processing GOSHEN...
Processing GRANBY...
Processing GREENWICH...
Processing GRISWOLD...
Processing GROTON...
Processing GROTON LONG POINT...
Processing GUILFORD...
Processing HADDAM...
Processing HAMDEN...
Processing HAMPTON...
Processing HANOVER...
Processing HARTFORD...
Processing HARWINTON...
Processing HEBRON...
Processing HIGGANUM...
Processing IVORYTON...
Processing JEWETT CITY...
Processing KENT...
Processing KILLINGLY...
Processing KILLINGWORTH...
Processing LEBANON...
Processing LEDYARD...
Processing LISBON...
Processing LITCHFIELD...
Processing MADISON...
Processing MANCHESTER...
Processing MANSFIELD...
Processing MARLBOROUGH...
Processing MASHANTUCKET...
Processing MERIDEN...
Processing MIDDLEBURY...
Processing MIDDLEFIELD...
Processing MIDDLETOWN...
Processing MILFORD...
Processing MONROE...
Processing MONTVILLE...
Processing MOODUS...
Processing MOOSUP...
Processing MORRIS...
Processing MYSTIC...
Processing N HAVEN...
Processing NAUGATUCK...
Processing NEW BRITAIN...
Processing NEW CANAAN...
Processing NEW FAIRFIELD...
Processing NEW HARTFORD...
Processing NEW HAVEN...
Processing NEW LONDON...
Processing NEW MILFORD...
Processing NEW PRESTON...
Processing NEWINGTON...
Processing NEWTOWN...
Processing NIANTIC...
Processing NO HAVEN...
Processing NORFOLK...
Processing NORTH BRANFORD...
Processing NORTH CANAAN...
Processing NORTH GRANBY...
Processing NORTH GROSVENORDALE...
Processing NORTH HAVEN...
Processing NORTH STONINGTON...
Processing NORTH WINDAM...
Processing NORTH WINDHAM...
Processing NORTHFORD...
Processing NORWALK...
Processing NORWICH...
Processing OAKDALE...
Processing OAKVILLE...
Processing OLD LYME...
Processing OLD SAYBROOK...
Processing ONECO...
Processing ORANGE...
Processing OXFORD...
Processing PAWCATUCK...
Processing PLAINFIELD...
Processing PLAINVILLE...
Processing PLANTSVILLE...
Processing PLYMOUTH...
Processing POMFRET...
Processing PORTLAND...
Processing PRESTON...
Processing PROSPECT...
Processing PUTNAM...
Processing QUAKER HILL...
Processing QUINEBAUG...
Processing REDDING...
Processing RIDGEFIELD...
Processing ROCKVILLE...
Processing ROCKY HILL...
Processing ROGERS...
Processing S GLASTONBURY...
Processing SALEM...
Processing SALISBURY...
Processing SANDY HOOK...
Processing SEYMOUR...
Processing SHARON...
Processing SHELTON...
Processing SHERMAN...
Processing SIMSBURY...
Processing SOMERS...
Processing SOUTH WINDSOR...
Processing SOUTHBURY...
Processing SOUTHINGTON...
Processing SPRAGUE...
Processing STAFFORD...
Processing STAFFORD SPGS...
Processing STAFFORD SPRINGS...
Processing STAMFORD...
Processing STERLING...
Processing STONINGTON...
Processing STORRS...
Processing STRATFORD...
Processing SUFFIELD...
Processing TAFTVILLE...
Processing TARIFFVILLE...
Processing TERRYVILLE...
Processing THOMASTON...
Processing THOMPSON...
Processing TOLLAND...
Processing TORRINGTON...
Processing TRUMBULL...
Processing UNCASVILLE...
Processing UNIONVILLE...
Processing VERNON...
Processing VERNON-ROCKVILLE...
Processing VOLUNTOWN...
Processing W HAVEN...
Processing WALLINGFORD...
Processing WARREN...
Processing WASHINGTON...
Processing WATERBURY...
Processing WATERFORD...
Processing WATERTOWN...
Processing WAUREGAN...
Processing WEATOGUE...
Processing WEST HARTFORD...
Processing WEST HAVEN...
Processing WEST STAFFORD...
Processing WEST SUFFIELD...
Processing WESTBROOK...
Processing WESTON...
Processing WESTPORT...
Processing WETHERSFIELD...
Processing WILLIMANTIC...
Processing WILLINGTON...
Processing WILTON...
Processing WINCHESTER...
Processing WINDHAM...
Processing WINDSOR...
Processing WINDSOR LOCKS...
Processing WINSTED...
Processing WOLCOTT...
Processing WOODBRIDGE...
Processing WOODBURY...
Processing WOODSTOCK...
Latitude/Longitude processing complete!

In [6]:
city_counts

,City,Unnamed: 0,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,...,Benzodiazepine,Methadone,Amphetamine,Tramadol,Morphine Not Heroin,Hydromorphone,Other,MannerofDeath,Latitude,Longitude
1,AMSTON,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,1,41.6254,-72.3431
2,ANDOVER,3,3,3,3,3,3,3,3,2,...,0,0,0,0,0,0,0,3,41.7373,-72.3704
3,ANSONIA,23,23,23,23,23,23,23,23,21,...,8,5,1,0,1,0,2,23,41.3462,-73.079
4,ASHFORD,6,6,6,6,6,6,6,6,4,...,2,0,1,0,0,0,0,6,41.8731,-72.1216
5,AVON,5,5,5,5,5,5,5,5,4,...,2,0,0,0,0,0,0,5,41.8096,-72.8305
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,WINSTED,12,12,12,12,12,12,12,12,10,...,2,5,1,0,1,0,1,12,41.9212,-73.0601
217,WOLCOTT,2,2,2,2,2,2,2,2,2,...,0,0,0,0,0,0,0,2,41.6023,-72.9868
218,WOODBRIDGE,4,4,4,4,4,4,4,4,4,...,2,0,0,1,0,0,0,4,41.3526,-73.0084
219,WOODBURY,3,3,3,3,3,3,3,3,3,...,1,0,0,0,0,0,0,3,41.5445,-73.209
220,WOODSTOCK,4,4,4,4,4,4,4,4,4,...,2,0,1,0,0,0,0,4,41.9484,-71.974

In [7]:
# Export good version to .csv
city_counts.to_csv('DrugsbyCityWLatLng.csv')